<a href="/pages/single-menu.html" data-btn-ripple class="bg-white shadow rounded-xl py-3  px-3 flex items-center justify-center" >
    <div  class="flex flex-col flex-1 gap-1">

        <h2 class="font-medium text-gray-800">Glutensiz Tatlı Kurupastalar</h2>
        <p class="text-sm text-gray-600">Her gün taptaze üretilen kuru pastalarımız toplantılarınıza, davetlerine renk ve lezzet katıyor.</p>
        <span class="text-primary-500 font-medium">600,00 TL</span>

    </div>
    <div class="w-24">
        <img
            class="w-24 rounded-xl"
            src="https://backhaus.com.tr/914-home_default_pizza/glutensiz-tatli-kurupastalar.jpg"
            alt=""
        />
    </div>
</a>